.Container {
    width: 40%;
    height: 70%;
    margin-top: 120px;
    overflow-y: scroll;
}

.Header {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.Header span {
    color: #88D8D8;
}

@media (min-width: 300px) and (max-width: 800px) {
    .Container {
        width: 90%;
    }
}