.Container {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #ddd;
    border: 1px solid #88d8d8;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.Month {
    font-size: 1rem;
    font-weight: bold;
}

.Year {
    font-size: 0.75rem;
}

.Day {
    font-size: 1.7rem;
    font-weight: bold;
}